@tailwind base;
@tailwind components;
@tailwind utilities;

.space-y-3 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: 0; /* Set margin-top to 0 */
  margin-bottom: calc(0.75rem * var(--tw-space-y-reverse));
}
